[submodule "submodules/BGME.BattleThemes"]
	path = submodules/BGME.BattleThemes
	url = https://github.com/T-PoseRatkechi/BGME.BattleThemes.git
[submodule "submodules/Unreal.AtlusScript"]
	path = submodules/Unreal.AtlusScript
	url = https://github.com/MirrorTuneZM/Unreal.AtlusScript.git
